/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.menu-bar .label {
    -fx-font-size: 9.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.fullscreen-button {
  -fx-graphic: url('resources/buttons/fullscreenbutton.jpg');
  -fx-background-color: #6495ed;
  -fx-scale-x: 0.7;
  -fx-scale-y: 0.7;
  -fx-border-color: #000000;
}

.fullscreen-button:hover {
	-fx-background-color: #6495ed;
}

.button { 
    -fx-border-color: #000000;
    -fx-border-width: 0.6;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color:  #6495ed;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: #000000;
    -fx-opacity: 0.9;
}
.button:hover {
    -fx-background-color: #0082cc;
   } 