/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.menu-bar .label {
    -fx-font-size: 9.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.button { 
    -fx-border-color: #000000;
    -fx-border-width: 0.6;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color:  #ff9358;
    -fx-font-family: "Helvetica", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: #000000;
    -fx-opacity: 0.9;
}
.button:hover {
    -fx-background-color: #ff7f58;
   } 